@font-face {
  font-family: "silkscreen";
  src: url("../assets/fonts/slkscreb.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

* {
  background-color: #2e132c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  margin-top: 10%;
  width: 50%;
  display: flex;
  align-items: center;
}

.welcome-logo-container,
.welcome-text-container {
  width: 50%;
}

.welcome-logo {
  width: 300px;
}

.welcome-text {
  font-family: "silkscreen";
}
