/* PROFILE STYLES - DEFAULT */
.profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #150714;
  height: 215px;
}

.profile-main {
  background-color: #150714;
  padding-top: 25px;
}

.profile-image {
  border: 5px solid;
  border-radius: 60px;
}

.header-username {
  font-family: "silkscreen";
  color: white;
  margin-left: 10px;
}

.username {
  font-family: "silkscreen";
  background: transparent;
  border: none;
  padding: 7px;
}

.tab-selector {
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab-selector div {
  background-color: #150714;
  color: #60265b;
  width: 50%;
  height: 35px;
  font-family: "silkscreen";
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-selector div.active {
  background-color: #60265b;
  color: #150714;
}

.back-link {
  display: flex;
}

.back-button {
  width: 14px;
}

.profile-red {
  border: 2px solid #f50d5a;
}

.profile-orange {
  border: 2px solid #ff865c;
}

.profile-yellow {
  border: 2px solid #ffea5c;
}

.profile-green {
  border: 2px solid #00da76;
}

.profile-blue {
  border: 2px solid #0096ce;
}

.profile-violet {
  border: 2px solid #800fff;
}

/* PROFILE STYLES - 1080 */
@media only screen and (max-width: 1080px) {
  .tab-selector,
  .profile-main {
    width: 100%;
  }
}
