/* TWEET STYLES - DEFAULT */
.tweets-container {
  width: 450px;
}

.tweet {
  width: 100%;
  padding: 10px 5px 10px 5px;
  display: flex;
  border-bottom: 3px solid #60265b;
}

.tweet-avatar {
  width: 20%;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
}

.avatar {
  height: 65px;
  width: 65px;
  margin-top: 6px;
  border-radius: 35px;
}

.tweet-body {
  width: 80%;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
}

.tweet-header-text {
  display: flex;
  align-items: center;
}

.tweet-username {
  font-family: "Silkscreen";
  color: #2e132c;
  font-weight: normal;
}

.others {
  background-color: white;
}

.tweet-date {
  font-family: "Fira Code";
  font-size: 16px;
  font-weight: 450;
}

.trashcan {
  width: 13px;
}

.tweet-header span,
.tweet-header h4 {
  margin-left: 10px;
}

.tweet-text {
  display: flex;
  text-align: justify;
  word-break: break-word;
  font-family: "Fira Code";
}

.tweet-likes {
  display: flex;
  font-weight: 600;
  color: red;
}

.tweet-bottom {
  display: flex;
  align-items: center;
}

.heart {
  margin: 10px 10px 10px 0px;
}

/* TWEET STYLES - 1080 */
@media only screen and (max-width: 1080px) {
  .tweets-container {
    width: 100%;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }

  .tweet-body {
    width: 75%;
  }
}
